<% layout('layouts/boilerplate') %>

<div class="row my-3">
    <div class="col-8">
        <h3 class="m-4">Results for <span class="text-muted">"<%= searchQuery %>"</span></h3>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <form action="/campgrounds/search" class="d-flex justify-content-end align-items-center">
            <div class="form-group has-search mx-2">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" id="searchInput" name="q" class="form-control" placeholder="Search">
            </div>
            <button class="btn btn-secondary">Search</button>
        </form>
    </div>
</div>

<% if (campgrounds.length > 0){ %>
    <div class="card-container mb-3">
        <% for (let i = 0; i < campgrounds.length; i++) { %>
            <div class="card">
                <img crossorigin="anonymous" src="<%= campgrounds[i].images[0].preview %>" class="card-img-top" alt="<%= campgrounds[i].title %>">
                <div class="card-body">
                    <h3 class="card-title"><%= campgrounds[i].title %></h3>
                    <p class="card-text text-muted"><%= campgrounds[i].description.slice(0, 140) %>...</p>
                </div>
                <div class="row card-footer">
                    <div class="col-7">
                        <p class="card-text location"><i class="fa-solid fa-location-dot mx-2"></i><%= campgrounds[i].location %></p>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <a class="btn btn-outline-primary" href="/campgrounds/<%= campgrounds[i].id %>">View Details</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% }else {%>
    <div class="d-flex align-items-center justify-content-center notfound">
        <div class="text-center">
            <img src="https://res.cloudinary.com/di22m4v3n/image/upload/v1706876193/notfound_jfymzi.png" alt="not-found">
            <h4>No results found</h4>
            <p>There weren't any saved campground's name or location matching your search.</p>
        </div>
    </div>
<% } %>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center align-items-center">
        <% if (currentPageNumber > 1){ %>
            <li class="page-item">
                <a class="page-link" href="?q=<%= searchQuery %>&page=<%= currentPageNumber - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++){ %>
            <li class="page-item"><a class="page-link <%= i === currentPageNumber ? 'active' : '' %>" href="?q=<%= searchQuery %>&page=<%= i %>"><%= i %></a></li>
        <% } %>

        <% if (currentPageNumber < totalPages) { %>
            <li class="page-item">
                <a class="page-link" href="?q=<%= searchQuery %>&page=<%= currentPageNumber + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        <% } %>
    </ul>
</nav>
