<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/starability-growRotate.css">

<div class="row mt-3">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card mb-3">
            <% if(campground.images.length > 0) { %>
                <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                    <div class="carousel-indicators">
                    <% campground.images.forEach((img, i) => {%>
                        <button type="button" data-bs-target="#campgroundCarousel" data-bs-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : '' %>" aria-current="true" aria-label="Slide <%= i %>"></button>
                    <% }) %>
                    </div>
                    <div class="carousel-inner">
                    <% campground.images.forEach((img, i) => { %>
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <img src="<%= img.url %>" class="d-block w-100" style="max-height: 500px; min-height: 500px;" alt="<%= campground.title %>">
                        </div>
                    <% }) %>
                    </div>
                    <% if(campground.images.length > 1) { %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    <% } %>
                </div>
            <% }else{ %>
              <img src="https://placehold.co/800?text=<%= campground.title %>&font=roboto" alt="image">
            <% } %>
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %>.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item fw-semibold">LKR <%= campground.price %><small class="text-muted">/day</small></li>
                <li class="list-group-item text-muted">Location : <%= campground.location %></li>
                <li class="list-group-item text-muted">Submitted by <%= campground.author.username %></li>
            </ul>
            <% if(currentUser && campground.author.equals(currentUser.id)) { %>
                <div class="card-body">
                    <a class="btn btn-primary" href="/campgrounds/<%= campground.id %>/edit">Edit Details</a>
                    <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div id="map" class="mb-3" style="width: 100%; height: 30vh;"></div>

        <h5>Ratings</h5>
        <div class="row rating-container mb-3">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <p class="d-inline"><span class="rating"><%= ratingStats.average %></span> average</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <p class="d-inline"><span class="rating"><%= ratingStats.reviewsCount %></span> reviews</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <p class="d-inline"><span class="rating"><%= ratingStats.total %></span> stars</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <h5>Reviews</h5>
            </div>
            <% if(currentUser) {%>
            <div class="col-6 d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-star mx-2"></i>Rate this Campground
                </button>
            </div>
            <% }else{ %>
            <div class="col-6 d-flex justify-content-end">
                <p>Please <a href="/login">login</a> to add your review</p>
            </div>
            <% } %>
        </div>
        <div id="reviewsContainer" >
            <% for(let review of displayedReviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-title"><%= review.author.username %></h6>
                        <p class="starability-result" data-rating="<%= review.rating %>">
                          Rated: <%= review.rating %> stars
                        </p>
                        <p class="text-muted"><%= review.body %></p>
                        <% if(currentUser && review.author.equals(currentUser.id)) { %>
                            <form action="/campgrounds/<%= campground.id %>/reviews/<%= review.id %>?_method=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" style="position: absolute; right: 2%; top: 10%;">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="text-center">
            <% if (displayedReviews.length < campground.reviews.length) { %>
                <button id="loadMoreBtn" class="btn btn-link btn-sm mb-3">Load More</button>
            <% } %>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Leave a Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/campgrounds/<%= campground.id %>/reviews" class="mb-3 needs-validation" method="post" novalidate>
                    <div>
                        <label class="form-label" for="body">Rating</label>
                        <fieldset class="starability-growRotate">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea name="review[body]" id="body" class="form-control" cols="30" rows="4" required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter the review</div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script> 
    const mapbox_token = '<%- process.env.MAPBOX_TOKEN %>'; 
    const campground = <%- JSON.stringify(campground) %>;
    const campgroundId = '<%- campground.id %>';
    const currentUserId = '<%- currentUser ? currentUser.id : '' %>';
    const campgroundCount = '<%- campground.reviews.length %>';
</script>
<script src="/scripts/showPageMap.js"></script>
<script src="/scripts/reviewLoad.js"></script>
