<% layout('layouts/boilerplate') %>

<img src="<%= campground.image %>" alt="<%= campground.tile %>">
<h1><%= campground.title %></h1>
<h3><%= campground.location %></h3>
<h5><%= campground.price %></h5>
<p><%= campground.description %></p>